

.transition-container {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 10;
    pointer-events: none;
  }
  .transition-container span {
    position: relative;
  }
  .transition-container.from-top {
    flex-direction: row;
  }
  .transition-container.from-top span {
    background: rgb(89, 203, 255);
    height: 100%;
    width: 100%;
  }
  